body {
}

.label {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cadetblue;
}

.footer {
    color: cadetblue;
}

.quadro {
    padding: 30px;
    margin: 30px;
    background-color: beige;
    opacity: 80%;
    border-radius:15px;
}

.menu {
    color: black;
    background-color: cadetblue;
    font-weight: bolder;
}